@import url("closure/goog/demos/css/demo.css");
@import url("closure/goog/demos/css/menus.css");
@import url("closure/goog/demos/css/toolbar.css");
@import url("closure/goog/demos/css/colormenubutton.css");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  position: absolute;
  top: 0;
  bottom: 22px;
  width: 100%;
}

#editor {
  position: absolute;
  top: 32px;
  bottom: 0;
  width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height; 20px;
  line-height; 18px;
  font-size: 14px;
  text-align: center;
  border-top: solid 1px #ccc;
  background-color: #eee;
}

/* Only draw borders when in a non-default state. */
.goog-toolbar-menu-button-checked .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-selected .goog-toolbar-menu-button-outer-box {
  border-width: 1px 0;
  border-style: solid;
  padding: 0;
}

.goog-toolbar-menu-button-checked .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-selected .goog-toolbar-menu-button-inner-box {
  border-width: 0 1px;
  border-style: solid;
  padding: 3px 4px;
}

/* Active/checked/selected styles. */
.goog-toolbar-menu-button-checked,
.goog-toolbar-menu-button-selected {
  /* Active/checked/selected background color always wins. */
  background-color: #dde1eb !important;
}

.goog-toolbar-menu-button-checked .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-checked .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-selected .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-selected .goog-toolbar-menu-button-inner-box {
  border-color: #729bd1;
}

/* vim:set ts=2 sw=2 expandtab: */
