@import url("closure/goog/demos/css/demo.css");
@import url("closure/goog/demos/css/menus.css");
@import url("closure/goog/demos/css/toolbar.css");
@import url("closure/goog/demos/css/colormenubutton.css");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  position: absolute;
  top: 0;
  bottom: 22px;
  width: 100%;
}

#editor {
  position: absolute;
  top: 32px;
  bottom: 0;
  width: 100%;
}

/* vim:set ts=2 sw=2 expandtab: */
